#{extends 'main.html' /}
#{set title:'show-dialog.html' /}
<div id="showDialogPage">
	<form id="showSave" action="/show-save" method="post">
		<div class="form-group">
			<label for="firstname">Förnamn</label>
			<input type="text" name="firstname" 
			id="firstname" class="form-control" 
			placeholder="Skriv in förnamn" 
			autofocus="autofocus" value="${flash.firstname}">
			<span class="error">#{error 'firstname' /}</span><br>
		</div>
		<div class="form-group">
			<label for="lastname">Efternamn</label>
			<input type="text" name="lastname" 
			id="lastname" class="form-control" 
			placeholder="Skriv in efternamn" value="${flash.lastname}">
			<span class="error">#{error 'lastname' /}</span><br>
		</div>
		<div class="form-group">
			<label for="address">Adress</label>
			<input type="text" name="address" 
			id="address" class="form-control" 
			placeholder="Skriv in adress" value="${flash.address}">
			<span class="error">#{error 'address' /}</span><br>
		</div>
		<div class="form-group">
			<label for="postcode">Postnummer</label>
			<input type="text" name="postcode" 
			id="postcode" class="form-control" 
			placeholder="Skriv in postnummer" value="${flash.postcode}">
			<span class="error">#{error 'postcode' /}</span><br>
		</div>
		<div class="form-group">
			<label for="postal">Postort</label>
			<input type="text" name="postal" 
			id="postal" class="form-control" 
			placeholder="Skriv in postort" value="${flash.postal}">
			<span class="error">#{error 'postal' /}</span><br>
		</div>		
		<input type="submit" class="btn btn-primary" value="Spara">
		<input type="button" class="btn btn-link cancelBtn" value="Avbryt">
	</form>
</div>